.header-text{
  margin-bottom: 24px;
  margin-top: 73px;
  background-color: #E5E059;
  padding: 10px;
  border-radius: 8px;
  font-size: 40px;
  font-family: 'Stylish', sans-serif;
}

.card-category{
  width: 600px;
  height: 400px;
  background-size: cover;
  background-position: center;
  text-align: end;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  object-fit: cover;
}

ul {
  padding-top: 20px;
  border-radius: 8px;
  padding-bottom: 20px;
}

ul li {
  border-radius: 14px;
}

.text-bg {
  background-color: #1D263B;
  color: white;
  border-radius: 8px;
  width: 37rem;
  display: flex;
  justify-content: space-around;
  margin: 12px 0px;

}

.text-bg p {
  font-family: 'Stylish', sans-serif;
  padding-top: 8px;

}

.favorite-icon{
  cursor: pointer;
}

.favorite-icon{
  color: red;
}

.img-list{
  background-color: #69EBD0;
}

@media (max-width: 560px) {

  .card-category {
    width: 313px
  }

  .text-bg {
    width: 19rem;
  }

  h1 {
    font-size: 17px;
  }
}
